apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: egress-external-cluster
spec:
  podSelector:
    matchLabels:
      control-plane: controller-manager
  policyTypes:
  - Egress
  egress:
    - {}  # allow all egress
